.slide-viewport {
  width: 100%;
  overflow-x: hidden;
}

.slide-container {
  width: 1000000px;
  position: relative;
  left: 0;
  top: 0;
  display: flex;
}

.slide {
  position: relative;
  width: 100vw;
  max-width: 1600px;
  height: 500px;
  background-size: cover;
}

.carousel .slide button {
  cursor: pointer;
}

.carousel .slide button:hover {
  background-color: #35597d;
}

.carousel {
  position: relative;
}

.carousel .content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.carousel .slide img {
  width: 100%;
}

.carousel .content button {
  background-color: #2D4966;
  color: #fff;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 300;
  height: 52px;
  letter-spacing: 2px;
  line-height: 19px;
  text-align: center;
  width: 160px;
  border: none;
  margin-top: 30px;
}

.carousel .headline {
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 60px;
  letter-spacing: 2px;
  line-height: 70px;
}

.carousel .subheadline {
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
}

.carousel .arrow {
  position: absolute;
  cursor: pointer;
  transform: translate(-50%, -50%);
  top: 50%;
  z-index: 1;
  text-align: center;
}

.carousel .arrow:hover {
  opacity: 0.6;
}

.carousel #left-arrow {
  left: 70px;
}

.carousel #right-arrow {
  right: 50px;
}

.carousel .markers {
  position: absolute;
  bottom: 10px;
  transform: translate(-50%, -50%);
  left: 50%;
}

.carousel .markers .marker {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.7;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  cursor: pointer;
}

.carousel .markers .marker.selected {
  width: 14px;
  height: 14px;
  opacity: 1;
  position: relative;
  top: 1px;
}

.carousel .markers .marker:hover {
  opacity: 0.5;
}

@media(max-width: 1100px) {
  .carousel .slide .content {
    width: 70%;
  }
}

@media(max-width: 900px) {
  .carousel .slide .headline {
    font-size: 45px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .carousel .slide button {
    margin-top: 10px;
  }
}

@media(max-width: 850px) {
  .iconContainer img,
  .iconContainer .shopping-cart > img {
    width: 18px;
  }

  .carousel #right-arrow {
    right: 20px;
  }

  .carousel #left-arrow {
    left: 40px;
  }
}

@media(max-width: 767px) {
  .slide {
    height: 400px;
  }
}

@media(max-width: 700px) {
  .carousel .slide {
    height: 350px;
  }

  .carousel .slide .headline {
    font-size: 35px;
  }

  .carousel .slide .subheadline {
    font-size: 14px;
  }

  .carousel .slide button {
    font-size: 15px;
    height: 40px;
  }
}

@media(max-width: 500px) {
  .carousel .slide {
    height: calc(100vh - 154px);
  }

  .carousel .slide .headline {
    font-size: 25px;
  }

  .carousel .slide .subheadline {
    font-size: 14px;
  }

  .carousel .slide button {
    font-size: 15px;
    height: 40px;
  }

  .carousel #right-arrow {
    right: 0px;
  }

  .carousel #left-arrow {
    left: 24px;
  }
}
