body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

button {
  background-color: #E9F0F7;
  border: 1px solid #191919;
  height: 27px;
  width: 50px;
}

header {
  display: flex;
  padding-top: 25px;
  padding-bottom: 15px;
}
main {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

header.mobile {
  /* display: flex; */
  display: none;
}

header.mobile .column {
  width: calc(100% / 3);
}

.temp-cart,
.temp-nav {
  display: none;
}

#announcement {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #E9F0F7;
  display: flex;
}

#announcement .title {
  height: 19px;
  box-sizing: border-box;
  color: #191919;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 19px;
  width: 60%;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 0;
}

#language-text {
  font-family: Helvetica;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
}

.currency {
  box-sizing: border-box;
  width: 20%;
  text-align: left;
}

.language-picker {
  box-sizing: border-box;
  width: 20%;
  height: 17px;
  text-align: right;
}

.language-picker .icon {
  position: relative;
  top: 2px;
}

.currency-text {
  font-family: 'Roboto Mono', monospace;
  font-size: 11px;
  font-weight: 500;
  color: #191919;
  text-align: center;
  line-height: 15px;
}

.icon {
  height: 14px;
  width:14px;
}

.padded {
  padding-left: 4vw;
  padding-right: 4vw;
  box-sizing: border-box;
}

#announcement-title-standalone {
  display: none;
  box-sizing: border-box;
  color: #191919;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 19px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0;
  text-align: center;
  background-color: #E9F0F7;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}

@media(max-width: 767px) {
  .padded {
    padding-left: 6vw;
    padding-right: 6vw;
  }

  #language-text {
    font-size: 11px;
  }

  #announcement {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #CED9E4;
  }

  #announcement .title {
    display: none;
  }

  #announcement-title-standalone {
    display: block;
  }

  header.desktop {
    display: none;
  }

  header.mobile {
    padding-top: 22px;
    padding-bottom: 0;
    display: flex;
  }

  header.mobile .shopping-cart {
    text-align: right;
    position: relative;
  }

  header.mobile .logo-container {
    text-align: center;
  }

  header.mobile .logo-container img {
    height: 40px;
    position: relative;
    top: -7px;
  }

  .currency {
    width: 50%;
  }
  .language-picker {
    width: 50%;
    margin-top: 3px;
  }

  .language-picker .icon {
    top: 3px;
  }
}
