nav {
  margin: 0;
  box-sizing: border-box;
  width: 60%;
  text-align: center;
}

nav .main-nav-list {
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav .main-nav-list li {
  display: inline-block;
  list-style-type: none;
}
nav .main-nav-list li:hover > a {
  color: rgba(0,0,0, 0.4);
}

nav .main-nav-list > li > a {
  color: #2D4966;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 21px;
  text-align: center;
  display: block;
  text-decoration: none;
  padding: 23px 2.3vw;
}

nav.mobile {
  position: fixed;
  left: -250px;
  top: 0;
  background-color: white;
  z-index: 2;
  width: 250px;
  min-height: 100%;
}

nav.mobile li {
  display: block;
}

#collections {
  position: relative;
  display: inline-block;
}

header.desktop #collections > a {
  padding-bottom: 60px;
  margin-bottom: -60px;
}

#collections .content {
  display: none;
  position: absolute;
  left: -540px;
  top: 80px;
  background-color: #fff;
  width: 1400px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.55);
  padding: 30px;
  z-index: 2;
}

#collections .content .triangle {
  position: absolute;
  top: -14px;
  left: 41%;
  transform: scale(1.3, 0.7);
  color: white;
  text-shadow: 0px -3px 3px rgba(0,0,0, 0.08);
}


#collections .content li {
  display: block;
}

#collections:hover .content {
  display: flex;
}

#collections .content .column {
  width: 30%;
  height: 100%;
}

#collections .content .column ul {
  padding-left: 0;
}

#collections .content .column ul li a {
  color: #191919;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  padding: 7px 0;
}

#collections .content .column img {
  height: 30px;
  width: 40px;
  text-align: center;
}

.collection-img-container {
  background-color: #EAEAEA;
  border: 1px solid #CDCDCD;
  margin-left: 30px;
  padding: 50px 0;
}

.logo-container {
  width: 20%;
  box-sizing: border-box;
  text-align: left;
}

.icon-container {
  width: 20%;
  box-sizing: border-box;
  text-align: right;
  padding: 23px 0;
}

.icon-container > img,
.icon-container > .shopping-cart {
  margin-left: 7px;
}

/**
  media queries
**/

@media(max-width: 1550px) {
  #collections .content {
    left: -430px;
    width: 1200px;
  }
}

@media(max-width: 1350px) {
  #collections .content {
    left: -355px;
    width: 1000px;
  }
}

@media(max-width: 1100px) {
  #collections .content {
    left: -290px;
    width: 850px;
  }
  nav .main-nav-list > li > a {
    padding: 23px 1.5vw;
  }
}

@media(max-width: 960px) {
  #collections .content {
    left: -250px;
    width: 750px;
  }
}

@media(max-width: 850px) {
  nav .main-nav-list > li > a {
    padding: 23px 1vw;
    font-size: 15px;
  }
  #collections .content {
    left: -220px;
    width: 650px;
  }
}

@media(max-width: 767px) {
  #collections .content {
    display: none;
    visibility: hidden;
  }
}
